.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em auto .1em auto;
    border-bottom: #f8b803 solid 1em;
    padding: 1em 2em 0em 2em;

    & h1 {
        font-weight: 500;
    }
}

.header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2em;


    &__place {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        gap: .1em;

        & .my__count {
            font-size: 1.3em;
            font-weight: 900;
            color: darkgoldenrod;
            align-self: first baseline;
        }
    }
}