button {
    margin: 0;
    padding: .4em 2em;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #fff;
    cursor: pointer;
    border: black solid 1px;
    width: max-content;
}

.small {
    padding: 0;
    background-color: #f8b803;
    border: 0;
}